.content {
  height: calc(92vh - 12em);
  margin: 1em 1em 1em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8em;
  color: black;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.1em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: violet;
    outline: 1px solid purple;
    scroll-margin-top: 5em;
  }
}

.tile {
  margin: 0.5em;
  padding: 0.5em;
  width: 11em;
  height: 11em;
  margin-block-start: 1em;
  background: rgba(darkseagreen, 0.1);

  .tea-image {
    width: 5.5em;
    height: 5.5em;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  p {
    margin-block-start: 0;
    margin-block-end: 0;

    &.tea-name {
      width: 5.5em;
      margin-bottom: 0.5em;
      text-align: right;
      color: purple;
      font-weight: 500;
      font-size: 1em;
    }

    &.price {
      color: darkgreen;
      text-align: right;
    }
  }

  .mat-icon {
    align-self: flex-end;
    position: sticky;
    top: 17.5em;
    color: firebrick;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
}
