<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Please sign in</mat-card-title>
      </mat-card-header>
      <form class="login-form" [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="email address" formControlName="username"
            required autofocus>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput formControlName="password" placeholder="password"
            required>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button class="btn-block">Log in</button>
        <button mat-stroked-button class="btn-block" (click)="viewRegister()">Register</button>
      </form>
    </mat-card>
  </div>