.box {
  opacity: 1;
  margin-left: calc(100vw/2 - 7em);
  margin-top: 15vh;
  background-color: rgba(#b5ed00, 0.3)
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.box:before {
  content: "";
  width: 100%;
  height: 1.5em;
  border-radius: 10px;
  position: absolute;
  top: -0.75em;
  background: rgba(#3d6000, 1);
  left: 0;
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  z-index: -1;
}

.login-wrapper {
  line-height: 1em;
  text-align: center;

  .full-width {
  }

  .mat-mdc-card-content {
    display: flex;
    flex-direction: column;
  }

  .mat-mdc-outlined-button {
    margin: 0.25em 32%;
    width: 6em;
    background-color: rgba(green, 0.3);
  }

  .mat-mdc-form-field-flex {
    height: 2.5em;
  }
}



