.login-box {
  text-align: center;
  width: 118%;
  margin: 30% 45%;

  h2 {
    color: darkgreen;
  }

  label {
    color: black;
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .username-container,
  .password-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  
  .form-control {
    color: black;
    width: 15em;
    max-height: 1.5em;
  }
}
