.sidebar-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-button {
  margin: 0 0.5em 1em;
  width: 17em;
  text-align: left;
  color: rgb(maroon, 1);
  border: 0.5px solid maroon;

  &.user {
    background: rgba(#b5ed00, 1);
    color: rgba(black, 1);
  }

  &.shopping {
    background-color: rgba(#31d34a, 1);
    color: rgba(black, 1);
  }

  &.subscription {
    background-color: rgba(#007fcc, 1);
    color: rgba(white, 1);
  }

  &.help {
    background-color: rgba(#5f0fd7, .3);
    color: rgba(white, 1);
  }
}

.mat-table {
  width: 15em;
  .mat-header-cell,
  .mat-cell {
    font-size: 0.8em;
  }
}

.mat-header-row,
.mat-row {
  min-height: 2em;
}

mat-header-cell,
mat-cell {
  &:first-of-type {
    padding-left: 0.5em;
  }
  &.mat-column-name {
    min-width: 6em;
  }

  &.mat-column-price {
    min-width: 5em;
  }

  &.mat-column-sub-totals {
    min-width: 4em;
  }

  &.mat-column-actions {
    min-width: 5em;
  }
}
.totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.material-icons {
  font-size: 1em;
  margin-top: 1em;
}

.icon-label {
  margin-left: 1em;
}
