<div class="sidebar-button-wrapper">
  <button *ngIf="isAuthenticated" mat-stroked-button class="menu-button user mat-elevation-z2" (click)="viewUser()">
    <mat-icon class="icon">person</mat-icon>
    <span class="icon-label">{{currentUser.firstName}}</span>
  </button>

  <button *ngIf="isAuthenticated" mat-stroked-button class="menu-button shopping mat-elevation-z2" (click)="viewStage()">
    <mat-icon>add_shopping_cart</mat-icon>
    <span class="icon-label"> Cart ({{totalCartItems}})</span>
  </button>

  <div *ngIf="this.cart?.length != 0 && isAuthenticated">
    <div class="cart-display mat-elevation-z2">
      <mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Tea </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.price | currency}} ({{element.orderQuantity}}) </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="action-container">
              <mat-icon (click)="addToCart(element.id, true)">add_circle_outline</mat-icon>
              <mat-icon (click)="addToCart(element.id, false)">remove_circle_outline</mat-icon>
            </span>
          </mat-cell>
        </ng-container>

        <!-- Sub Totals Column -->
        <ng-container matColumnDef="sub-totals">
          <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.price * element.orderQuantity | currency}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>


      <!-- Totals Row -->
      <span class="totals">
        <p>Total</p>
        <div> {{getTotal() | currency}}</div>
      </span>
      <button *ngIf="this.cart?.length != 0" class="checkout-button" mat-stroked-button (click)="checkout()"><p>checkout</p></button>
    </div>
  </div>

  <button *ngIf="isAuthenticated" mat-stroked-button class="menu-button subscription mat-elevation-z2" (click)="viewSubscriptions()">
    <mat-icon>subscriptions</mat-icon>
    <span class="icon-label">Subscription</span>
  </button>

  <span>
    <button *ngIf="isAdmin && isAuthenticated" mat-button class="menu-button membership mat-elevation-z2" (click)="viewMembership()" [hidden]="!isAdmin">
      <mat-icon>supervisor_account</mat-icon>
      <span class="icon-label">Administration</span>
    </button>

    <button *ngIf="isAdmin && isAuthenticated" mat-button class="menu-button groups mat-elevation-z2" (click)="viewGroups()" [hidden]="!isAdmin">
      <mat-icon>groups</mat-icon>
      <span class="icon-label">Groups</span>
    </button>  
  </span>

  <button *ngIf="isAuthenticated" mat-stroked-button class="menu-button help mat-elevation-z2" (click)="viewHelp()">
    <mat-icon>help</mat-icon>
    <span class="icon-label">Help</span>
  </button>
</div>