<div class="sidebar-button-wrapper">
  <button mat-stroked-button class="menu-button user" (click)="viewUser()">
    <mat-icon class="icon">person</mat-icon>
    <span class="icon-label">{{currentUser.name}}</span>
  </button>

  <button mat-stroked-button class="menu-button shopping" (click)="viewStage()">
    <mat-icon>add_shopping_cart</mat-icon>
    <span [hidden]="totalCartItems === 0" matBadgeSize="small" matBadge="{{totalCartItems}}" matBadgePosition="after"></span>
    <span class="icon-label"> Cart ({{totalCartItems}})</span>
  </button>

  <div *ngIf="this.cart?.length != 0">
    <div class="cart-display">
      <mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Tea </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.price | currency}} ({{element.orderQuantity}}) </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="action-container">
              <mat-icon (click)="addToCart(element.id, true)">add_circle_outline</mat-icon>
              <mat-icon (click)="addToCart(element.id, false)">remove_circle_outline</mat-icon>
            </span>
          </mat-cell>
        </ng-container>

        <!-- Sub Totals Column -->
        <ng-container matColumnDef="sub-totals">
          <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.price * element.orderQuantity | currency}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>


      <!-- Totals Row -->
      <span class="totals">
        <p>Total</p>
        <div> {{getTotal() | currency}}</div>
      </span>
      <button *ngIf="this.cart?.length != 0" class="submit-button" mat-stroked-button (click)="checkout()"><p style="position: relative;bottom: 2.25em;">checkout</p></button>
    </div>
  </div>

  <button mat-stroked-button class="menu-button subscription" (click)="viewSubscriptions()">
    <mat-icon>subscriptions</mat-icon>
    <span class="icon-label">Subscription</span>
  </button>

  <button mat-stroked-button class="menu-button help" (click)="viewHelp()">
    <mat-icon>help</mat-icon>
    <span class="icon-label">Help</span>
  </button>
</div>