.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: absolute;
  bottom: 1em;
  left: 1em;

  .social-buttons-container {
    display: flex;
    flex-direction: row;
    height: 3em;

    .button-container {
      display: flex;
      flex-direction: row;
      padding: 0 0.25em;
      margin: 0.25em 1em 0;
      background-color: darkseagreen;
      color: purple;
      border-radius: 2em;
      border: none;
      opacity: 1;
      z-index: 5;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      padding-top: 0.15em;

      .button-name {
        font-size: 1em;
        margin-top: 0.35em;
        margin-right: 0.5em;
      }

      .mat-icon {
        position: flex;
        flex-direction: row;
        justify-self: start;
        left: 0;
        margin-right: 0.25em;
        margin-left: 0.25em;
      }
    }
  }
}
