.sidebar-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-button {
  margin-bottom: 0.5em;
  width: 15em;

  &.user {
    background: rgba(blue, 0.1);
  }

  &.shopping {
    background-color: rgba(purple, 0.1);
  }

  &.subscription {
    background-color: rgba(red, 0.1);
  }

  &.help {
    background-color: rgba(orange, 0.2);
  }

}

.mat-table {
  width: 15em;
  .mat-header-cell,
  .mat-cell {
    font-size: 0.8em;
  }
}

.mat-header-row,
.mat-row {
  min-height: 2em;
}

mat-header-cell,
mat-cell {
  &:first-of-type {
    padding-left: 0.5em;
  }
  &.mat-column-name {
    min-width: 6em;
  }

  &.mat-column-price {
    min-width: 5em;
  }

  &.mat-column-sub-totals {
    min-width: 4em;
  }

  &.mat-column-actions {
    min-width: 5em;
  }
}

.material-icons {
  font-size: 1em;
  margin-top: 1em;
}

.icon-label {
  margin-left: 1em;
}
