<div *ngIf="dashboard" class="content mat-elevation-z8">
  <span class="inner">
    <span *ngFor="let tea of inventory">
      <div class="row">
        <div class="column">
          <div class="tile mat-elevation-z8">
            <div class="tile-contents">
              <span class="masthead">
                <img class="tea-image" [src]="tea.image" />
                <p class="tea-name">{{tea.name}}</p>
                <p class="price">{{tea.price | currency }}</p>
              </span>
            </div>
            <div class="summary">
              <p>{{ getQuantity(tea.id) }} in cart</p>
              <mat-icon (click)="addToCart(tea.id, false)">remove_circle_icon</mat-icon>
              <mat-icon (click)="addToCart(tea.id, true)">add_circle_icon</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </span>

  </span>
</div>
<div *ngIf="checkout">
  <mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Tea </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price | currency}}</mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.orderQuantity}}</mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="action-container">
          <mat-icon click="cartItemAction('add')">add_circle_outline</mat-icon>
          <mat-icon click="cartItemAction('remove')">remove_circle_outline</mat-icon>
        </span>
      </mat-cell>
    </ng-container>

    <!-- Sub Totals Column -->
    <ng-container matColumnDef="sub-totals">
      <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price * element.orderQuantity | currency}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- Totals Row -->
  <span class="totals">
    <p style="font-style: bold;">Total</p>
    <div> {{getTotal() | currency}}</div>
    <p>Weight</p>
  </span>

</div>