.content {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 92%;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 1em;

  &::-webkit-scrollbar {
    width: 0.1em;
    overflow-x: scroll;
  }

  &::-webkit-scrollbar-thumb {
    background-color: violet;
    outline: 1px solid purple;
    scroll-margin-top: 5em;
  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.8em;
    color: black;
    overflow: visible;

    &::before {
      content: '';
      background: url('../../../assets/light_tea_stained_paper.jpg') no-repeat
        center center fixed;
      transform: scale(2);
      width: 100%;
      height: 66%;
      position: absolute;
      top: 1%;
      left: 1%;
      opacity: 0.3;
      z-index: -1;
    }
  }
}

.tile {
  position: relative;
  margin: 0.5em;
  padding: 0.5em;
  width: 10em;
  height: 10em;
  display: flex;
  flex-wrap: wrap;
  background-color: darkgreen;
  border-radius: 0.5em;

  .tea-name {
    position: relative;
    top: -5em;
  }

  .price {
    position: relative;
    top: -5em;
  }

  .tea-image {
    width: 5em;
    height: 5em;
    position: relative;
    top: 0;
  }

  .tile-contents {
    position: relative;
    top: 0;
    right: 0;
  }

  .summary {
    display: flex;
    position: absolute;
    bottom: 0.25em;
    width: 10.5em;

    p {
      position: relative;
      color: lime;
      width: 7em;
    }

    .mat-icon {
      color: #b5ed00;
      position: relative;
      right: 0.2em;
      bottom: 0.2em;
      z-index: 20;
    }
  }

  p {
    margin-block-start: 0;
    margin-block-end: 0;

    &.tea-name {
      width: 6em;
      margin-bottom: 0.5em;
      margin-left: 4em;
      text-align: right;
      color: lime;
      font-weight: 500;
      font-size: 1em;
    }

    &.price {
      color: lime;
      text-align: right;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
  width: 10em;
  margin: 1.25em;
}

.mat-table {
  width: 90vw;
}

.totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

@media (max-width: 800px) {
  // .content {
  //   width: 73%;
  // }
}
