.content {
  height: calc(92vh - 12em);
  margin: 1em 1em 1em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8em;
  color: black;
  overflow-y: scroll;
  // background-image: url("../../assets/tea-stained-paper.jpg");
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  background-image: linear-gradient(
      45deg, 
      rgba(lime,0.5) 25%, 
      transparent 25%, 
      transparent 50%, 
      rgba(lime,0.5) 50%, 
      rgba(lime,0.5) 75%, 
      transparent 75%, 
      transparent
      );
   background-size: 5px 5px;
  width: 95.5%;

  &::-webkit-scrollbar {
    width: 0.1em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: violet;
    outline: 1px solid purple;
    scroll-margin-top: 5em;
  }
}

.tile {
  margin: 0.5em;
  padding: 0.5em;
  width: 11em;
  height: 11em;
  margin-block-start: 1em;
  display: flex;
  flex-wrap: wrap;
  background-color: darkgreen;
  border-radius: 0.5em;

  .tea-image {
    width: 5em;
    height: 5em;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  p {
    margin-block-start: 0;
    margin-block-end: 0;

    &.tea-name {
      width: 6em;
      margin-bottom: 0.5em;
      text-align: right;
      color: lime;
      font-weight: 500;
      font-size: 1em;
    }

    &.price {
      color: lime;
      text-align: right;
    }
  }

  .mat-icon {
    align-self: flex-end;
    position: sticky;
    top: 17.5em;
    color: lightskyblue;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
}
