.collapsed-wrapper {
  display: flex !important;
  width: 4.5em;
}

.mat-sidenav {
  margin: 0 0 0 1em;
  width: 12em;
  overflow: hidden;
  border-right: none;
  border-radius: 10px;
  padding: 1em 1em 1em 0;
  text-align: left;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background: transparent;
}

// :host ::ng-deep [class*="mat-drawer-opened"] {
//   width: 0em;
// }

:host ::ng-deep .mat-drawer-content {
  height: 99%;
  overflow: hidden !important;
}

:host ::ng-deep .mat-drawer-inner-container {
  width: 100%;
  height: 91.5%;
  overflow: hidden !important;
}

:host ::ng-deep [class*="mat-badge"] {
  background-color: violet;
  color: white;
}

.collapsed-sidenav {
  display: flex;
  flex-direction: column;
  width: 2.5em;
}

.menu-button {
  font-size: 0.8em;
  border-radius: 5em;
  max-width: 3em;
  min-width: 3em;
  padding: 0;
  margin: 0 0.25em 0.5em;

  &.user {
    background: rgba(#b5ed00, 0.3);
    color: rgba(black, 1);
  }

  &.shopping {
    background-color: rgba(#31d34a, 0.3);
    color: rgba(black, 1);
  }

  &.subscription {
    background-color: rgba(#007fcc, 0.3);
    color: rgba(black, 1);
  }

  &.membership {
    background-color: rgba(red, 0.3);
    color: rgba(black, 1);
  }

  &.groups {
    background-color: rgba(magenta, 0.3);
    color: rgba(black, 1);
  }

  &.help {
    background-color: rgba(#5f0fd7, 0.3);
    color: rgba(black, 1);
  }
}

mat-sidenav-container {
  height: calc(85vh);
  overflow: hidden;
  background-color: transparent;
}

.mat-mdc-button>.mat-icon {
  margin-top: 1em;
  margin-left: 0.25em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  font-size: 2em;
  height: 2em;
  width: 2em;
}