<mat-sidenav-container >
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" *ngIf="user">
      <tea-sidebar-content (click)="toggleSidebar()" [isSidebarOpen]="!opened" [cart]="cart"></tea-sidebar-content>
    </mat-sidenav>

    <mat-sidenav-content (click)="toggleSidebar()">
      <span class="collapsed-wrapper">
        <div class="mat-sidenav collapsed-sidenav" *ngIf="!opened && isAuthenticated">
          <button mat-button class="menu-button user mat-elevation-z4" (click)="viewUser()">
            <mat-icon class="icon">person</mat-icon>
          </button>

          <button mat-button class="menu-button shopping mat-elevation-z4" (click)="viewStage()">
            <mat-icon>add_shopping_cart</mat-icon>
            <span [hidden]="totalCartItems === 0" matBadgeSize="small" matBadge="{{totalCartItems}}"
              matBadgePosition="after" matBadgeColor="accent"></span>
          </button>

          <button mat-button class="menu-button subscription mat-elevation-z4" (click)="viewSubscriptions()">
            <mat-icon>subscriptions</mat-icon>
          </button>

          <span *ngIf="isAdmin">
            <button mat-button class="menu-button membership mat-elevation-z4" (click)="viewMembership()">
              <mat-icon>supervisor_account</mat-icon>
            </button>

            <button mat-button class="menu-button groups mat-elevation-z4" (click)="viewGroups()">
              <mat-icon>groups</mat-icon>
            </button>  
          </span>

          <button mat-button class="menu-button help mat-elevation-z4" (click)="viewHelp()">
            <mat-icon>help</mat-icon>
          </button>
        </div>
        <router-outlet></router-outlet>
      </span>

    </mat-sidenav-content>
  </mat-sidenav-container>
