.mat-brand-nx {
  width: 25%;
}

.toaster {
  padding: 10px;
  margin: 0px;
  background-color: red;
  border-radius: 100px;
  cursor: pointer;
  border: 0px;
}

.chart-display {
  width: 100%;
  height: 25em;
  display: block;
  margin: 1em auto;
}

.add-department {
  width: 15em;
  position: absolute;
  left: 3em;
  bottom: 1em;
  background-color: orange;
  opacity: 1;
  font-size: 1em;
  border-radius: 0.5em;

  &.collapse {
    background-color: tan;
  }

  .department {
    margin: 1em 0 0 0.5em;
    width: 90%;
  }

  .add-dialog {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5em;

    .cost {
      max-width: 75%;
    }

    .add-button {
      height: 2.5em;
      justify-self: flex-end;
      background-color: red;
      color: yellow;
    }
  }
}

.content {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 92%;
  height: 74vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 1em;

  &::-webkit-scrollbar {
    width: 0.1em;
    overflow-x: scroll;
  }

  &::-webkit-scrollbar-thumb {
    background-color: violet;
    outline: 1px solid purple;
    scroll-margin-top: 5em;
  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.8em;
    color: black;
    overflow: visible;

    &::before {
      content: '';
      background: url('../../../assets/light_tea_stained_paper.jpg') no-repeat
        center center fixed;
      transform: scale(2);
      width: 100%;
      height: 66%;
      position: absolute;
      top: 1%;
      left: 1%;
      opacity: 0.3;
      z-index: -1;
    }
  }
}
