<mat-sidenav-container class="user-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <button class="action-icon">
      <mat-icon>home</mat-icon>
      <label class="menu-button">tea selection</label>
    </button>

    <button class="action-icon">
      <mat-icon>shopping_cart</mat-icon>
      <label class="menu-button">shopping cart</label>
    </button>

    <button class="action-icon">
      <mat-icon>subscription</mat-icon>
      <label class="menu-button">subscription</label>
    </button>

    <button class="action-icon">
      <mat-icon>settings</mat-icon>
      <label class="menu-button">user settings</label>
    </button>

    <button class="action-icon">
      <mat-icon>help</mat-icon>
      <label class="menu-button">help</label>
    </button>
  </mat-sidenav>

  <mat-sidenav-content (click)="sidenav.toggle()">
    <div class="header">
      <img src="../assets/green-tea-basic.png" class="logo" />
      <h1>Broken Leaf</h1>
      <p>A Stutsman County Tea Company</p>
    </div>

    <div class="focus-tea"></div>

    <div class="content mat-elevation-z8">
      <div class="tea-container" *ngFor="let tea of teas">
        <p class="tea">{{ tea }}</p>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<tea-footer></tea-footer>