<div class="page">
  <div class="header">
    <h1>Broken Leaf</h1>
    <h4>A Stutsman County Tea Company</h4>
  </div>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <tea-sidebar-content [cart]="cart"></tea-sidebar-content>
    </mat-sidenav>

    <mat-sidenav-content>
      <span style="display: flex;z-index: 5;">
        <div class="mat-sidenav collapsed-sidenav" *ngIf="!opened" (click)="toggleSidebar(true)">
          <button mat-button class="menu-button user">
            <mat-icon class="icon">person</mat-icon>
          </button>

          <button mat-button class="menu-button">
            <mat-icon matBadge="{{totalCartItems}}" matBadgePosition="after" matBadgeColor="accent">add_shopping_cart</mat-icon>
          </button>

          <button mat-button class="menu-button">
            <mat-icon>subscriptions</mat-icon>
          </button>

          <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
          </button>
        </div>

        <tea-stage style="width: 100%;" [inventory]="inventory"></tea-stage>
      </span>

    </mat-sidenav-content>
  </mat-sidenav-container>

  <footer class="footer">
    <p>Jamestown, North Dakota, USA</p>
  </footer>
</div>
