.page {
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    white,
    white 2px,
    rgba(#b5ed00, 0.2) 2px,
    rgba(#b5ed00, 0.2) 4px
  );
}





@media (max-width: 800px) {
  .column {
    flex: 1;
  }
}



.peri {
  color: #6667ab;
}

.complimentary {
  color: ABAA67;
}

.burnished-lilac {
  color: #c5aeb1;
}

// PANTONE 17-3938 'Very Peri' is the color of the year for 2022. The color belongs to the blue family, containing a violet red undertone. The lovely violet-infused blue tone is already present in nature, in the form of vivid plumage and graceful lavender flowers.
/** 
  Generic color name: Very Peri
  Colors that make up #6667AB
  RGB: 102, 103, 171 - HSL: 0.66, 0.29, 0.54
  Web safe color: No
  Complementary color
  
  A good complementary color for this color is #ABAA67.
*/
