.page {
  background-color: white;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 1em;

  img {
    width: 4em;
    justify-content: left;
  }

  .title {
    background-color: white;
    color: #6667ab;
    width: 100%;
    display: flex;
    flex-direction: column;

    h1 {
      margin: 0.25em 0 0 0.5em;
      padding: 0;
    }

    h4 {
      margin: 0 0 0 1.1em;
      padding: 0;
      color: cadetblue;
    }
  }
}

.mat-sidenav {
  margin: 0 0 0 1em;
  width: 16em;
  overflow: hidden;
  border-right: none;
  border-radius: 10px;
  padding: 1em 1em 1em 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

:host ::ng-deep .mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

.collapsed-sidenav {
  display: flex;
  flex-direction: column;
  width: 3.5em;
}

.menu-button {
  font-size: 0.8em;
  margin-bottom: 1em;
  border-radius: 5em;
  max-width: 3em;
  color: darkred;
  border: .5px solid maroon;
  min-width: 3em;
  padding: 0;
  margin: 0 0 1em 0;

  &.user {
    background: rgba(blue, 0.1);
   }

  &.shopping {
    background-color: rgba(purple, 0.1);
  }

  &.subscription {
    background-color: rgba(red, 0.1);
  }

  &.help {
    background-color: rgba(orange, 0.2);
  }
}

mat-sidenav-container {
  height: calc(92vh - 6.5em);
  overflow: hidden;
}

.footer {
  height: 3em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: right;

  p {
    text-align: right;
    margin-right: 1em;
    color: #6667ab;
  }
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}

.peri {
  color: #6667ab;
}

.complimentary {
  color: ABAA67;
}

.burnished-lilac {
  color: #c5aeb1;
}

// PANTONE 17-3938 'Very Peri' is the color of the year for 2022. The color belongs to the blue family, containing a violet red undertone. The lovely violet-infused blue tone is already present in nature, in the form of vivid plumage and graceful lavender flowers.
/** 
  Generic color name: Very Peri
  Colors that make up #6667AB
  RGB: 102, 103, 171 - HSL: 0.66, 0.29, 0.54
  Web safe color: No
  Complementary color
  
  A good complementary color for this color is #ABAA67.
*/
