<div class="content mat-elevation-z8">
    <span class="inner" style="display: flex;flex-direction:column;">
        <p>{{user?.firstName}}</p>
        <p>{{user?.lastName}}</p>
        <p>{{user?.username}}</p>
        <p>{{user?.password}}</p>
    </span>
</div>

<!-- <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
</table> -->