/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);

html,
body {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
  background-color: white;;
}

.content {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 92%;
  height: 74vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 1em;

  &::-webkit-scrollbar {
    width: 0.1em;
    overflow-x: scroll;
  }

  &::-webkit-scrollbar-thumb {
    background-color: violet;
    outline: 1px solid purple;
    scroll-margin-top: 5em;
  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.8em;
    color: black;
    overflow: visible;

    &::before {
      content: '';
      background: url('./assets/light_tea_stained_paper.jpg') no-repeat
        center center fixed;
      transform: scale(2);
      width: 100vw;
      height: 66%;
      position: absolute;
      top: 1%;
      left: 1%;
      opacity: 0.3;
      z-index: -1;
    }
  }
}
