@import '~@angular/material/theming';
@include mat-core();
/* ======== Angular material custom themes ======== */ 
$tea-primary: mat-palette($mat-blue);
$tea-accent: mat-palette($mat-deep-purple, 100, 500, A100);
$tea-warn: mat-palette($mat-lime);
$tea-theme: mat-light-theme($tea-primary, $tea-accent, $tea-warn);

@include angular-material-theme($tea-theme);

